* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.container {
  display: flex;
  justify-content: center;
  background-color: #fbfeff;
}

.go-back-button {
  padding: 15px 15px;
  font-size: 15px;
  background-color: #4e75ff;
  color: white;
  text-decoration: none;
  border-radius: 24px;
  margin-bottom: 24px;
  font-weight: bold;
}

/* TASK 1 */
.categories-item {
  max-width: 392px;
  padding: 16px;
  background-color: #f6f6fe;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 20px auto;
}

.categories-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-bottom: 16px;
}

.categories-list {
  max-width: 360px;
  gap: 8px;
  padding: 0;
}

.categories-list-item {
  font-size: 16px;
  padding: 8px 0 8px 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  background: #f6f6fe;
}

/* TASK2 */

img {
  width: 360px;
  height: 300px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1138px;
  gap: 24px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* TASK 3 */

.container {
  flex-direction: column;
  align-items: center;
}

.name-input {
  max-width: 360px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #ccc;
  margin-bottom: 16px;
}

.greetings-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.greetings-span {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* TASK 4 */

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

label {
  margin-bottom: 8px;
}

/* TASK 5 */

.bg-color-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.color {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.change-color {
  padding: 8px 16px;
  font-size: 15px;
  background-color: #4e75ff;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  margin-bottom: 24px;
  font-weight: bold;
}

/* TASK 6 */

.controls-box {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f6f6fe;
  border-radius: 8px;
  padding: 32px;
}

.boxes {
  background: #f6f6fe;
  border-radius: 8px;
  padding: 32px;
}

.input-number {
  border: 1px solid #808080;
  border-radius: 8px;
  padding: 8px 72px;
  width: 150px;
  height: 40px;
  margin-right: 16px;
}

.btn-create {
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  background: #4e75ff;
  margin-right: 16px;
}

.btn-destroy {
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  background: #ff4e4e;
}
